* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #C1B5AD;
}

#map {
  height: 100vh;
  width: 100vw;

}
/* 
/* .mapboxgl-marker{
  z-index: 99;
  width: 25px;
  height: 25px;
  
}
 */ */

